*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    border: 1px solid black;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxLogin{
    border: 3px solid black;
    border-radius: 3rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.inputBox{
    min-width: 18rem;
    display: flex;
    justify-content: space-between;
    padding: 3px;
}
.button{
    width: 5rem;
    height: 1.5rem;
}